.loginContainer {
  width: 100vw;
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.loginContainer input {
  width: 230px;
  height: 40px;
  padding: 10px;
}

.loginContainer label {
  font-size: 15px;
  color: red;
}

.loginContainer button {
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgb(197, 197, 197);
  font-weight: bold;
}

.loginContainer button:disabled,
.loginContainer input:disabled {
  cursor: wait;
}